<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ansible rocks!</title>
</head>
<body>
    <h1>Server information</h1>
    <p>This page is served from {{ ansible_hostname }}</p>
    <p>Server IP: {{ ansible_default_ipv4.address }}</p>
    <p>Current date: {{ ansible_date_time.date }}</p>
    <p>Distribution: {{ ansible_distribution }}</p>
    <p>Uptime: {{ ansible_uptime_seconds }} seconds</p>
</body>
</html>